.post{
    z-index:2;
    background-color: white;
    width:500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post__image{
    width:100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__text{
    font-weight:normal;
    padding: 20px;
    padding-bottom:0px;
}

.post__header{
    display:flex;  /*stavlja username i avatar u 1 red*/
    align-items:center;
    padding:20px;
}

.post__avatar{
    margin-right:10px;
}

.post__commentBox{
    display:flex;
    margin-top:10px;
}

.post__comments{
    padding:20px;
}

.post__input{
    flex:1;
    border:none;
    padding:10px;
    border-top: 1px solid lightgray;
}

.post__button{
    flex:0;
    border:none;
    color: #6082a3;
    background-color:transparent;
    border-top: 1px solid lightgray;
}

.post__deleteButton{
    padding-left: 260px;
    cursor:pointer;
}

.app__comment{
    font-size: 14px;
    padding-left: 7px;
  }


@media screen and (min-width:390px) and (max-width: 540px){
  .post{
    width:400px;
  }

  .post__deleteButton{
    padding-left: 200px;
}


.post__avatar{
    margin-right:8px;
    transform: scale(0.9);
}

.post__text{
    padding: 12px;
    padding-bottom:0px;
}

.post__header{
    display:flex;  /*stavlja username i avatar u 1 red*/
    align-items:center;
    padding:8px;
}

h3{
    font-size:15px;
  }

.post__comments{
    padding:12px;
}

.post__input{
    flex:1;
    border:none;
    padding:10px;
    border-top: 1px solid lightgray;
}

.post__button{
    flex:0;
    border:none;
    color: #6082a3;
    background-color:transparent;
    border-top: 1px solid lightgray;
}

.app__comment{
    font-size: 14px;
    padding-left: 7px;
  }

}

@media screen and (min-width:351px) and (max-width: 390px){
    .post{
      width:350px;
    }

    .post__deleteButton{
        padding-left: 170px;
    }
        
.post__avatar{
    margin-right:5px;
    transform: scale(0.8);
}

.post__text{
    padding: 12px;
    padding-bottom:0px;
    font-size:14px;
}

.post__header{
    display:flex;  /*stavlja username i avatar u 1 red*/
    align-items:center;
    padding:8px;
}

h3{
    font-size:14px;
  }

.post__comments{
    padding:12px;
}

.app__comment{
    font-size: 14px;
    padding-left: 7px;
  }
  }



  @media screen and (max-width: 351px){
    .post{
      width:300px;
      margin-top: 15px;
    }

    .post__deleteButton{
        padding-left: 140px;
        transform: scale(0.8);
    }

    
.post__avatar{
    margin-right:5px;
    transform: scale(0.7);
}

.post__text{
    padding: 12px;
    padding-bottom:0px;
    font-size:14px;
}

.post__header{
    display:flex;  /*stavlja username i avatar u 1 red*/
    align-items:center;
    padding:8px;
}

h3{
    font-size:13px;
  }

.post__comments{
    padding:12px;
}

.app__comment{
    font-size: 13px;
    padding-left: 7px;
  }
  }